.clients {
    padding-top: 60px;
    padding-bottom: 60px;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
&__title {
    color: var(--text-nav-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {

    font-size: 36px;
    line-height: 1.16;
    }
}

&__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

    @media screen and (min-width: 1200px) {

    margin-top: 50px;
    }
}

&__card {
    width: calc((100% - 30px) / 2);
    height: 92px;

    @media screen and (min-width: 768px) {

    width: calc((100% - 60px) / 3);
        }
    @media screen and (min-width: 1200px) {

    width: calc((100% - 150px) / 6);
         }
}

&__icon {
    fill: var(--social-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--social-link-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

&:hover,
&:focus {
    border-color: var(--prime-text-logo-color);
}
}

&__link:hover &__icon,
&__link:focus &__icon {
    fill: var(--prime-text-logo-color);
}
}