.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
}

.modal {
    top: 93px;
    background-color: var(--footer-text-logo-color);
    position: absolute;
    left: 50%;
    padding: 40px 40px;
    transform: translateX(-50%);

@media screen and (min-width: 480px) {
    
    width: 450px;
    height: 609px;
}
@media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    top: 50%;
    transform: translate(-50%, -50%);
}

&__close-button {
    display: flex;
    align-items: center;
    background-color: var(--footer-text-logo-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    fill: var(--prime-text-logo-color);
}
}
&__title {
    color: var(--text-nav-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

&__form-label {
    color: var(--prime-text-color);
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

&__form-label:not(:first-child) {
    margin-top: 10px;
}

&__form-control {
    position: relative;
    width: 100%;
    height: 40px;
}

&__form-input {
    width: 100%;
    padding: 12px 12px 12px 32px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:focus {
    border-color: var(--prime-text-logo-color);
}
}
&__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--text-nav-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus+.modal__form-icon {
    fill: var(--prime-text-logo-color);
}

&__form-textarea {
    color: rgba(117, 117, 117, 0.5);
    width: 100%;
    height: 120px;
    padding: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
    border-color: var(--prime-text-logo-color);
}
}

&__check {
    position: relative;
}

&__checkbox-input {
    margin-left: 0;
}

&__checkbox-label {
    margin-top: 20px;
    padding-left: 37px;
}

&__checkbox-label::before {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 16px;
    height: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    transform: translateY(-50%);
    content: "";
}

&__check-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    fill: var(--footer-text-logo-color);
    z-index: 1;
}

.modal__checkbox-input:checked+.modal__check-icon {
    opacity: 1;
}

.modal__checkbox-input:checked~.modal__checkbox-label::before {
    background-color: var(--prime-text-logo-color);
    border: none;
}

&__form-link {
    color: var(--prime-text-logo-color);
}

&__form-button {
    background-color: var(--prime-text-logo-color);
    color: var(--footer-text-logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 52px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--button-bgc-color);

}
}
}