.header {
    background-color: var(--footer-text-logo-color);
    border-bottom: 1px solid var(--border-header);
}

.header-navigation__container {
   
    @media screen and (min-width: 768px) {
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
}

.header__navigation {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (max-width: 1199px) {
        margin-left: 88px;
    }

}
.header__menu-contact {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 50px;
    // list-style: none;

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            list-style: none;
    }
}

.header__items {
    display: flex;
    align-items: center;
    fill: var(--prime-text-color);
}

.header__link {
    color: var(--text-nav-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header__link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--prime-text-logo-color);
    border-radius: 2px;
    content: '';
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
    color: var(--prime-text-logo-color);
}

.header__link:hover::after {
    opacity: 1;
}

.header__link--current {
    color: var(--prime-text-logo-color);
}


.header__link--current::after {
    opacity: 1;
}

.header__contact {
    color: var(--prime-text-color);
    font-weight: 500;
    font-size: 12px;
        line-height: 1.16;
    // font-size: 14px;
    // line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    // padding: 32px 0;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 1199px) {
            gap: 8px;
            margin-top: 10px;
        }
        @media screen and (min-width: 1200px) {
            gap: 10px;
            font-size: 14px;
                line-height: 1.14;
                padding: 32px 0;
        }
}

.header__contact:hover,
.header__contact:focus {
    color: var(--prime-text-logo-color);
}

.header__contact:hover .header__icon,
.header__contact:focus .header__icon {
    fill: var(--prime-text-logo-color);
}

// .header__icon {
//     margin-right: 10px;
// }
.header__burger-menu {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}