.team {
    background-color: var(--section-bgc-color);


&__container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            padding-top: 94px;
                padding-bottom: 94px;
        }
}

&__title {
    color: var(--text-nav-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (min-width: 1200px) {
            font-size: 36px;
                line-height: 1.16;
        }
}

&__card {
    background-color: var(--footer-text-logo-color);
    width: 100%;

    @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
    }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }
}

&__information {
    padding: 30px 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

&__subtitle {
    color: var(--text-nav-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

&__text {
    color: var(--prime-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
}

&__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

&__social {
    background-color: var(--footer-text-logo-color);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--prime-text-logo-color);
    fill: var(--footer-text-logo-color);
}
}

.team__link:hover .team__icon,
.team__link:focus .team__icon {
    fill: var(--footer-text-logo-color);
}

&__icon {
    fill: var(--social-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}